<div class="title">
  <h1>Photos</h1>
</div>

<form action="">
  <input type="text" name="q" value="<%= params[:q] %>">
</form>

<div class="items-grid">
  <%= render partial: "item", collection: @items %>
</div>
